:root {
  --red: #ed1c24;
  --blue: #0080ff;
  --orange: #ff7f00;
  --green: #008000;
  --olymp: #b7976b;
  --white: #fff;
  --gray: #ddd;
  --dg: #444444;
  --lg: #f7f7f7;
  --fg: #eeeeee;
  --fi: #888888;
  --ft: #777777;
}

.Wrap {
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.Header_top {
  border-bottom: 1px solid var(--lg);
  line-height: 80px;
}

.Header_top .container {
  display: flex;
  justify-content: space-between;
}

.Header_top .container>div {
  line-height: 1;
}

.Header_top i {
  font-size: 20px;
  padding: 5px;
  color: var(--white);
  margin: 0 0 5px 0;
}

.Header_top p {
  font-size: 13px;
}

.Header_top h1 {
  font-size: 0;
}

.Header_top h1 a {
  display: block;
}

.Header_top h1 img {
  width: 100px;
}

.Header_top .left_icons {
  position: relative;
  display: flex;
  gap: 40px;
  text-align: center;
  align-items: center;
  width: 15%;
}

.Header_top .right_icons {
  position: relative;
  display: flex;
  gap: 40px;
  justify-content: end;
  text-align: center;
  align-items: center;
  width: 15%;
}

.Header_top .left_icons .left i {
  background: var(--orange);
  border-radius: 50%;
}

.Header_top .left_icons .right i {
  background: var(--green);
  border-radius: 50%;
}

.Header_top .left_icons a~a::before {
  position: absolute;
  bottom: 22%;
  right: 56%;
  content: "";
  width: 1px;
  height: 8px;
  background: var(--gray);
}

.Header_top .right_icons a~a::before {
  position: absolute;
  bottom: 22%;
  right: 30%;
  content: "";
  width: 1px;
  height: 8px;
  background: var(--gray);
}

.Header_top .right_icons .left i {
  background: var(--blue);
  border-radius: 50%;
}

.Header_top .right_icons .right i {
  background: var(--red);
  border-radius: 50%;
}

.Header_bottom {
  line-height: 60px;
  border-bottom: 1px solid var(--lg);
}

.Header_bottom .Gnb {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.Header_bottom .Gnb li:last-child {
  color: var(--olymp);
}

.Header_bottom .Gnb li:last-child:before {
  content: "";
  width: 30px;
  height: 24px;
  background: url(../public/assets/images/olympiad.png);
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.MainVisual {
  position: relative;
}

.MainVisual figure {
  position: relative;
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

.MainVisual .itm01 {
  background-image: url(../public/assets/images/main01.jpg);
}

.MainVisual .itm02 {
  background-image: url(../public/assets/images/main02.jpg);
}

.MainVisual .itm03 {
  background-image: url(../public/assets/images/main03_2.jpg);
}

.MainVisual .container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MainVisual figure h2 {
  font-size: 51px;
  font-weight: 700;
  margin: 0 0 40px 0;
  line-height: 1.2;
  transform: translateY(50px);
  opacity: 0;
}

.MainVisual figure.on h2 {
  transform: translateY(0px);
  opacity: 1;
  transition: 1s;
}

.MainVisual figure p {
  font-size: 29px;
  margin: 0 0 45px 0;
  transform: translateY(50px);
  opacity: 0;
}

.MainVisual figure.on p {
  transform: translateY(0px);
  opacity: 1;
  transition: 1s 0.5s;
}

.MainVisual figure a {
  font-size: 17px;
  display: inline-block;
  padding: 11px 24px 13px 24px;
  border-radius: 25px;
  background: var(--dg);
  transform: translateY(50px);
  opacity: 0;
}

.MainVisual figure.on a {
  transform: translateY(0px);
  opacity: 1;
  transition: 1s 1s;
}

.MainVisual .slideTab {
  position: absolute;
  bottom: 19%;
  left: 19%;
  display: flex;
  gap: 60px;
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
}

.MainVisual .slideTab li {
  position: relative;
}

.MainVisual .slideTab li::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--white);
}

.MainVisual .slideTab li::before {
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.2)
}

.MainVisual .slideTab li.on::after {
  width: 100px;
  transition: 4s;
}

.MainVisual .control i {
  position: absolute;
  bottom: 18%;
  font-size: 25px;
  color: var(--white);
  cursor: pointer;
}

.MainVisual .control i:first-child {
  left: 40%;
}

.MainVisual .control i:last-child {
  left: 41.5%;
}

.SideMenu {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  height: 400px;
  background: rgba(255, 255, 255, 0.64);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.28);
  z-index: 999;
}

.SideMenu .top img {
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translateX(-50%);
}

.SideMenu .top p {
  margin-top: 130px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
}

.SideMenu .top p span {
  color: var(--orange);
}

.SideMenu .top a {
  display: inline-block;
  padding: 11px 24px 13px 24px;
  border-radius: 25px;
  background: var(--orange);
  font-size: 17px;
  color: var(--white);
  margin-bottom: 30px;
}

.SideMenu .bottom::before {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 auto
}

.SideMenu .bottom p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
  color: #000;
  line-height: 1.2;
}

.SideMenu .bottom p span {
  color: var(--red);
}

.SideMenu .bottom a {
  display: inline-block;
  padding: 11px 24px 13px 24px;
  border-radius: 25px;
  background: var(--red);
  font-size: 17px;
  color: var(--white);
  margin-bottom: 30px;
}

.TopBanner {
  padding: 20px 0 0 0;
}

.TopBanner .container {
  display: flex;
  gap: 10px;
  margin: 0 auto 10px auto;
}

.TopBanner .bigger {
  display: flex;
  gap: 10px;
  font-size: 25px;
  font-weight: 500;
}

.TopBanner .bigger a>div {
  position: relative;
  width: 292.5px;
  height: 150px;
  background: var(--lg);
  border-radius: 20px;
  padding: 30px;
}

.TopBanner .bigger p {
  line-height: 1.2;
}

.TopBanner .bigger img {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.TopBanner .smaller a>div {
  display: flex;
  gap: 10px;
  width: 292.5px;
  height: 70px;
  background: var(--lg);
  border-radius: 20px;
  padding: 25px
}

.TopBanner .smaller .top {
  margin: 0 0 10px 0;
}

.TopBanner .smaller i {
  color: var(--red);
  font-size: 21px;
}

.TopBanner .smaller p {
  font-size: 19px;
  font-weight: 500;
}

.TopBanner .smaller .arrow {
  margin: 0 0 0 auto;
  font-size: 11px;
  color: var(--white);
  padding: 4px;
  border-radius: 50%;
  background: var(--dg);
}

.TopBanner .scroll {
  text-align: center;
  font-size: 17px;
  animation: scroll 2s infinite linear;
}

@keyframes scroll {
  to {
    transform: translateY(15px);
    opacity: 0;
  }
}

.Why {
  padding: 100px 0;
  text-align: center;
}

.Why h2 {
  font-size: 51px;
  line-height: 1.1;
  margin: 0 0 20px 0;
}

.Why h2 span {
  font-weight: 700;
  color: var(--red);
}

.Why p {
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 5px 0;
}

.Why .last {
  margin: 0 0 80px 0;
}

.Why .box {
  display: flex;
  justify-content: center;
  gap: 90px;
}

.Why .box>div {
  transform: translateY(100px);
  opacity: 0;
}

.Why .box.on>div:nth-child(1) {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
}

.Why .box.on>div:nth-child(2) {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 0.5s;
}

.Why .box.on>div:nth-child(3) {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 1s;
}

.Why .box>div {
  width: 280px;
}

.Why .box>div::after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background: var(--red);
  margin-top: 10px;
  border-radius: 3px;
}

.Why .box p:first-child {
  font-size: 21px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 20px 0;
}

.Why .box p:last-child {
  font-size: 51px;
  font-weight: 400;
}

.Why .box p:last-child span {
  font-size: 71px;
  font-weight: 700;
}

.Content {
  padding: 100px 0;
  height: 100vh;
  background: url(../public/assets/images/content_bg.jpg) no-repeat center center/cover;
  text-align: center;
}

.Content .outer {
  width: 1200px;
  margin: 0 auto 80px auto;
}

.Content>p {
  font-size: 21px;
  font-weight: 300;
  margin: 0 0 5px 0;
}

.Content h2 {
  font-size: 41px;
  font-weight: 500;
  margin: 0 0 80px 0;
}

.Content figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 65px;
  max-width: 400px;
  height: 400px;
  border-radius: 30px;
  background: var(--white);
}

.Content figure strong {
  font-size: 25px;
  font-weight: 500;
}

.Content figure.on strong {
  font-size: 21px;
}

.Content figure div:first-child {
  display: flex;
  justify-content: space-between;
}

.Content figure div a {
  font-size: 15px;
  padding: 4px 15px;
  border-radius: 15px;
  color: var(--white);
  background: var(--dg);
}

.Content figure img {
  max-width: 100%;
}

.Content figure p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2;
  text-align: justify;
}


.Content .slideTab li {
  margin: 0 10px;

}

.Content .slideTab li.on {
  transform: rotate(45deg);
  transition: .5s
}

.Content .slideTab li:nth-child(1) {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: var(--red);
}

.Content .slideTab li:nth-child(2) {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: var(--blue);
}

.Content .slideTab li:nth-child(3) {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: var(--orange);
}

.Content .slideTab li:nth-child(4) {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: var(--green);
}

.Content .slideTab li:nth-child(5) {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: var(--dg);
}

.Review {
  padding: 100px 0;
  text-align: center;
  background: url(../public/assets/images/reiview_bg.jpg) no-repeat;

}

.Review .container {
  position: relative;
}

.Review p {
  font-size: 21px;
  font-weight: 300;
  margin: 0 0 5px 0;
}

.Review h2 {
  font-size: 41px;
  font-weight: 500;
  margin: 0 0 80px 0;
}

.Review .box {
  height: 420px;
}

.Review .box div {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid transparent;
  transition: 0.5s;
}

.Review .box div img {
  width: 100%;
  height: 100%;
}

.Review .box div:hover {
  transform: scale(1.3);
}

.Review .box div.on {
  transform: scale(1.3);
}

.Review .box div.on {
  border: 5px solid var(--red);
}

.Review .box div:nth-child(1) {
  width: 150px;
  height: 150px;
  top: 30%;
  left: 0;
}

.Review .box div:nth-child(2) {
  width: 175px;
  height: 175px;
  top: 22%;
  left: 20%;
}

.Review .box div:nth-child(3) {
  width: 115px;
  height: 115px;
  top: 34%;
  left: 43%;
}

.Review .box div:nth-child(4) {
  width: 75px;
  height: 75px;
  top: 87%;
  left: 0;
}

.Review .box div:nth-child(5) {
  width: 100px;
  height: 100px;
  top: 68%;
  left: 15%;
}

.Review .box div:nth-child(6) {
  width: 160px;
  height: 160px;
  top: 68%;
  left: 30%;
}

.Review .box div:nth-child(7) {
  width: 90px;
  height: 90px;
  top: 68%;
  left: 55%;
}

.Review .text {
  position: absolute;
  top: 63%;
  right: 0;
  transform: translateY(-50%);
  width: 420px;
  background: var(--lg);
  border-radius: 30px;
}

.Review .text div {
  height: 0;
  overflow: hidden;
  text-align: left;
}

.Review .text div.on {
  height: 420px;
  padding: 40px;
}

.Review .text div span:nth-child(1) {
  display: inline-block;
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 15px;
  background: var(--white);
  margin: 0 15px 0 0;
}

.Review .text div span:nth-child(2) {
  display: inline-block;
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 15px;
  background: var(--white);
}

.Review .text .inner {
  width: 100%;
  height: 80%;
  padding: 30px;
  border-radius: 20px;
  background: var(--white);
  margin-top: 30px;
}

.Review .text .inner h3 {
  font-size: 21px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.Review .text .inner p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3;
  text-align: justify;
}

.BottomBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: url(../public/assets/images/bottom_banner_bg.jpg);
}

.BottomBanner p {
  color: var(--white);
  font-size: 51px;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
  transform: translateY(100px);
  opacity: 0;
}

.BottomBanner p.on {
  transform: translateY(0);
  opacity: 1;
  transition: 1s;
}

footer .top {
  height: 60px;
  background: var(--dg);
}

footer .top .container {
  display: flex;
  font-size: 15px;
}

footer .left {
  font-size: 25px;
  color: var(--fi);
}

footer .left a {
  line-height: 60px;
  display: inline-block;
  margin: 0 30px 0 0;
}

footer .right {
  display: flex;
  margin: 0 0 0 auto;
  color: var(--gray);
  gap: 40px;
}

footer .right li {
  line-height: 60px;
}

footer .family {
  position: relative;
  width: 106px;
  line-height: 60px;
  margin: 0 0 0 60px;
  color: var(--gray);
  cursor: pointer;
  z-index: 999;
}

footer .family p {
  position: absolute;
  left: 0;
  z-index: 999;
}

footer .family p i {
  margin: 0 0 0 10px;
}

footer .family p i.on {
  transform: rotate(180deg);
}

footer .family .box {
  position: absolute;
  display: none;
  top: -130px;
  width: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--dg);
  text-align: center;
  border: 1px solid;
  border-radius: 15px;
}

footer .family .box.on {
  display: block;
}

footer .family .box ul {
  line-height: 30px;
  font-size: 13px;
}

footer .family .box ul li:nth-child(5) {
  font-size: 0;
}

footer .family .box ul li:nth-child(6) {
  font-size: 0;
}

footer .family .box ul li {
  color: var(--fi);
}

footer .family .box ul li:hover {
  color: var(--white);
}

/* family 열리게 하기 */

footer .bottom {
  background: var(--lg);
}

footer .bottom .container {
  display: flex;
}

footer .bottom .left {
  margin: 50px 40px 50px 0;
}

footer .bottom .middle {
  margin: 50px 40px 50px 0;
}

footer .bottom .middle>ul {
  display: flex;
  font-size: 15px;
  margin: 0 0 10px 0;
  color: var(--ft);
}

footer .bottom .middle>ul li~li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #ddd;
  margin: 0 15px;
}

footer .FOL li:last-child {
  margin: 0 0 30px 0;
}

footer .bottom .middle p {
  color: var(--ft);
  font-size: 11px;
  letter-spacing: 0.1em;
}

footer .bottom .right {
  display: block;
  width: 350px;
  padding: 50px 40px;
  background: var(--fg);
  color: var(--ft);
}

footer .bottom .right p {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

footer .nums {
  display: flex;
  justify-content: space-between;
  margin: 0 0 25px 0;
}

footer .nums a:first-child {
  font-size: 27px;
  font-weight: 900;
  color: #333;
}

footer .nums a:last-child {
  font-size: 13px;
  padding: 6px 12px 3px 12px;
  border: 1px solid rgba(119, 119, 119, 0.3);
}

footer .nums a:last-child i {
  margin: 0 0 0 5px;
}

footer .time_top, footer .time_bottom {
  display: flex;
  justify-content: space-between;
}

footer .time_top li, footer .time_bottom li {
  line-height: 1;
  font-size: 15px;
  font-weight: 300;
}

footer .time_top li {
  margin: 0 0 10px 0;
}

footer .right span {
  font-size: 12px;
  font-weight: 100;
}

/* * {
  outline: 1px solid pink;
} */